#parse ("util.vm")
<%@ page language="java" import="java.util.*" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8">
	<title>${model.name}管理</title>
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
	<jsp:include page="../com/header.jsp"></jsp:include>
	<script type="text/javascript" src="../../js/comm/listcomm.js"></script>
	<script type="text/javascript">
	var contentUrl = root + "cms/#initLowerCase(${model.identify})/find#initUpperCase(${model.identify})NEStatusPage";
	var editUrl = '#initLowerCase(${model.identify})Edit.jsp?id=';
	var operateUrl = root + 'cms/#initLowerCase(${model.identify})/operate#initUpperCase(${model.identify})ByIds';
	function getfilter(){
		var _jsonFilter = "{";
		#foreach($property in $model.properties)
		if($("#search_${property.identify}").val() && $("#search_${property.identify}").val().length > 0){
			_jsonFilter += "'search_EQ_${property.identify}':'"+$("#search_${property.identify}").val().replace("'","\"")+"',";
		}
		#end
		if(_jsonFilter != "{"){
			_jsonFilter = _jsonFilter.substring(0,_jsonFilter.length - 1);
		}
		_jsonFilter += "}";
		return _jsonFilter;
	}
	</script>
    </head>
    <body>
      <section>
          <div>
              <div class="col-xs-12">
                  <div class="box">
	                  <form id="search_form" class="form-horizontal">
                      	<div class="tabSelect" id="selectHeadId">
                      		<br>
           	#foreach($property in $model.properties)
            	<div class="form-group  col-md-3 search-form">
        						<label class="col-md-4 control-label controls" for="formGroupInputSmall">${property.name}：</label>
       				 			<div class="col-md-8">
									<input type="text" placeholder="${property.name}" class="form-control input-sm" id="search_${property.identify}" name="${property.identify}"/>
								</div>
      						</div>
			#end
	            <input type="button" value="查询" id="search" class="btn btn-primary searchBtn">
                      	</div>
	                  </form>
                      <div class="box-body table-responsive" style="clear:both;">
                          <input type="button" value="新增" id="addSome" class="btn btn-success">
                          <input type="button" value="编辑" id="updateSome" class="btn btn-info">
                          <input type="button" value="启用" id="openSome" class="btn btn-success">
                          <input type="button" value="锁定" id="lockSome" class="btn btn">
                          <input type="button" value="删除" id="deleteSome" class="btn btn-danger">
                      </div>
                      <div class="box-body table-responsive">
                          <table id="example2" class="table table-bordered table-hover">
                              <thead>
                                  <tr>
                                      <th width="30"><input type="checkbox" id="_selectAll" /></th>
          		#foreach($property in $model.properties)
               		  <th width="80">${property.name}</th>
				#end
               		  <th width="80">状态</th>
                                  </tr>
                              </thead>
                              <!-- 表格内容 start -->
                              <tbody id="mycontent"></tbody>
                              <!-- 表格内容 end -->
                          </table>
                          <!-- 分页标签 start -->
                          <div class="row page_big_div" id="displayPage"></div>
                          <!-- 分页标签 end -->
                          <script id="tableContentTmple" type="text/x-jsrender">
								<tr>
									<td><input id="ck_{{:id}}" ckId="{{:id}}" ckStatus="{{:status}}" class="ckSelect" type="checkbox" /></td>
				#foreach($property in $model.properties)
					<td>{{:${property.identify}}}</td>
				#end
					<td>{{if status==1}}正常{{else status==2}}已发布{{else status==3}}已删除{{else status==-1}}已锁定{{else}}无效{{/if}}</td>
								</tr>
						  </script>
                  </div>
              </div>
          </div>
      </section>
    </body>
</html>